<div class="login-container">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Willkommen im Kalender</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Benutzername</mat-label>
            <input matInput placeholder="Dein Benutzername" [(ngModel)]="name" name="name" required>
          </mat-form-field>


          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="email"
              placeholder="Deine Email"
              name="email"
              [(ngModel)]="email"
              #emailModel="ngModel"
              required
              email>
            @if(emailModel.errors?.['email'] && (emailModel.dirty || emailModel.touched)) {
              <mat-error>
                Bitte geben Sie eine gültige E-Mail-Adresse ein.
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Passwort</mat-label>
            <input matInput placeholder="Dein Passwort" [(ngModel)]="password" name="password" type="password" required>
          </mat-form-field>

          <!-- Fehlermeldung anzeigen -->
          @if (errorMessage) {
            <div class="error-message">
              {{ errorMessage }}
            </div>
          }

          <div class="button-container">
            <button mat-button color="primary" (click)="routeToRegistration()">Neuen Benutzer registrieren</button>
            <button mat-raised-button color="secondary" type="submit">Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
